* {
    margin: .5em;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    font-size: 100%;
}

table {
    border: .1em solid black;
    border-collapse: collapse;
    background: white;
    box-shadow: .25em .25em .2em grey;
    color:black
}

th, td {
    border: .1em solid black;
    padding: .2em .7em;
    text-align: left;
    vertical-align: center;
    color:black;
}

thead {
    background-color: goldenrod;
    text-transform: capitalize;
}

button.increment {
    border: 1px black solid;
    color: white;
    border-radius: .3em;
    font-size:75%;
    font-weight: bold;
    line-height: 0%;
    height: 1.2em;
    width: 2.5em;
}

button.submitNewPlayer {
    background-color: goldenrod;
    color:white;
    border: none;
    border-radius: .3em;
    width: 4em;
    height:2em;
    box-shadow: .1em .1em .1em grey;
    display: block;
    margin:auto;
    margin-bottom: .75em;
}

button.submitNewPlayer:hover {
    background-color: rgb(207, 158, 34);
}

button.minus {
    background-color: firebrick;
    
}

button.plus {
    background-color: seagreen;
}

button.plus:hover {
    background-color: darkgreen;
}

button.minus:hover {
    background-color: darkred;
}

form.addPlayerForm, form.statControlForm {
    border:.1em solid black;
    width: 31em;
    font-size: 100%;
    box-shadow: .25em .25em .2em grey;
    background-color: white;
    
}

form>label {
    float: left;
    width: 7em;
    text-align: right;
    color:black;
    margin:.9em 0 0 0;
}

form>input {
    margin-left: 1em;
    margin-bottom: .5em;
    width:auto
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2.5em;
  }
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: .25em;
    bottom: .25em;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
input:checked + .slider {
    background-color: goldenrod;
  }
  
input:focus + .slider {
    box-shadow: 0 0 .1em darkgray;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1.5em);
  }

.statSwitch {
    color:black;
    height:auto;
    display: inline-block;
}

.switchLabel {
    float:left;
    margin:1.1em 0 0 0;
    text-transform: capitalize;
}

.error {
    background-color: darkorange;
    width:50%;
    border: solid black .1em;
    color:crimson;
}